@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body{
    margin:0;
    background-color:#0f0c29;
    color:#fff;
    font-family:'Inter',sans-serif;
    overflow:hidden;
    touch-action:none;
    user-select:none;
}

#game-container{
    position:relative;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Canvas */
canvas{
    display:block;
    max-width:100%;
    max-height:100%;
    filter:drop-shadow(0 0 30px rgba(0,0,0,0.6));
}

/* UI */
.ui-layer{
    position:absolute;
    pointer-events:none;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20px;
    z-index:10;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    pointer-events:auto;
}

.score-display{
    font-size:3rem;
    font-weight:900;
    background:linear-gradient(180deg,#fff,#aaa);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.sub-stat{
    font-size:1rem;
    color:#ffde7d;
    font-weight:700;
    letter-spacing:2px;
    margin-top:4px;
}

.currency-tag{color:#08d9d6;}

.lives-container{
    display:flex;
    gap:5px;
    font-size:1.5rem;
    color:#ff2e63;
}

/* Buttons */
.btn{
    background:#ff2e63;
    color:white;
    padding:16px 48px;
    border-radius:100px;
    font-weight:800;
    cursor:pointer;
    border:none;
    letter-spacing:2px;
    margin:10px;
}

.btn-blue{
    background:#08d9d6;
    color:#0f0c29;
}

.btn-outline{
    background:transparent;
    border:2px solid rgba(255,255,255,0.2);
    color:#aaa;
}

/* Power buttons */
.powerup-bar{
    display:flex;
    flex-direction:column;
    gap:15px;
    pointer-events:auto;
}

.power-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    background:rgba(255,255,255,0.1);
    border:2px solid rgba(255,255,255,0.2);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.2s;
}

.power-btn:hover{
    background:rgba(255,255,255,0.2);
    transform:scale(1.1);
}

.notification{
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:2.5rem;
    font-weight:900;
    opacity:0;
    transition:.3s;
}

.difficulty-selector{
    display:flex;
    gap:10px;
    margin-bottom:30px;
    justify-content:center;
}

.diff-btn{
    padding:8px 18px;
    border:2px solid #555;
    color:#555;
    background:transparent;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

.diff-btn.active{
    border-color:#08d9d6;
    color:#08d9d6;
    background:rgba(8,217,214,0.1);
}


.notification.show{
    opacity:1;
}

.hidden{display:none!important;}
